{% extends 'users/admin_base.html' %}
{% load static %}
{% block main %}
<!-- Page-header start -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>

<!-- Page-header end -->

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">

            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <!-- Basic Form Inputs card start -->
                        <div class="card">
                            <div class="card-block">
                                <h4 class="sub-title">Change Password</h4>
                                <form method="post" name="changepassword" onsubmit="return checkpassword()">
                                    {% csrf_token %}

                                    <div class="form-group row">
                                        <label for="oldpassword" class="col-sm-3 col-form-label">Current Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" name="oldpassword" class="form-control" id="oldpassword" placeholder="Enter Current Password" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="newpassword" class="col-sm-3 col-form-label">New Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" name="newpassword" class="form-control" id="newpassword" placeholder="Enter New Password" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="confirmpassword" class="col-sm-3 col-form-label">Confirm Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" placeholder="Enter Confirm Password" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-12 text-right">
                                            <input type="submit" class="btn btn-primary" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main-body end -->
    <div id="styleSelector"></div>
</div>

<script>
    function checkpassword() {
        if (document.changepassword.newpassword.value != document.changepassword.confirmpassword.value) {
            alert('New Password and Confirm Password fields do not match');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>

{% if error == "no" %}
<script>
    alert('Password updated successfully');
    window.location = adminHomeUrl;
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong, try again later');
</script>
{% endif %}
{% if error == "not" %}
<script>
    alert('Your current password is wrong');
</script>
{% endif %}
{% endblock %}
